<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Update patient</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>Update patient</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{'/patients/update/' + ${patient.getId()}}" th:object="${patient}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">New first name</label>
                            <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Введите имя" th:field="*{firstname}">
                        </div>
                        <div class="form-group">
                            <label for="lastName">New Last name</label>
                            <input type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Введите фамилию" th:field="*{lastname}">
                        </div>
                        <div class="form-group">
                            <label for="age">New Age</label>
                            <input type="text" class="form-control" id="age" aria-describedby="age" placeholder="Введите возраст" th:field="*{age}">
                        </div>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <a th:href="@{/patients}" type="button" class="btn btn-primary">Back</a>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Third group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>