<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>New Doctor</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>New Doctor</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/doctors/new}" th:object="${doctor}" method="post">
                        <div class="form-group">
                            <label for="lastname">Lastname doctor</label>
                            <input type="text" class="form-control" id="lastname" aria-describedby="name"
                                   placeholder="Enter the doctor's lastname" th:field="*{lastname}">
                        </div>
                        <div class="form-group">
                            <label for="firstname">Firstname doctor</label>
                            <input type="text" class="form-control" id="firstname" aria-describedby="name"
                                   placeholder="Enter the doctor's firstname" th:field="*{firstname}">
                        </div>
                        <div class="form-group">
                            <label for="middle_name">Middle Name doctor</label>
                            <input type="text" class="form-control" id="middle_name" aria-describedby="name"
                                   placeholder="Enter the doctor's middle name" th:field="*{middleName}">
                        </div>
                        <div class="form-group">
                            <label for="type">Specialization</label>
                            <select class="form-control" id="type" th:field="*{specialization}">
                                <option th:each="type : ${T(ua.com.alevel.type.DoctorSpecialization).values()}"
                                        th:value="${type}"
                                        th:text="${type}">
                                </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>